
<%-include("navbar.ejs")%>

<div class="container card card-body">
    <div class="row">
        <div class="col-md-12">
            <h1>Brand List</h1>
            <div class="col-md-12">
                <table class="table table-striped" width="100%">
                    <tr>
                        <th>Action</th>
                        <th>Sr.No</th>
                        <th>Brand&nbsp;Name</th>
                        <th>Brand Image</th>
                        <th>Category Details</th>
                    </tr>
                    <% brands.map((row, i)=>{ %>
                        <tr>
                            <td style="white-space: nowrap;">
                                <a href="/admin/edit_brand/<%-row.brand_id%>">
                                   <button class="btn btn-sm btn-primary"> <i class="fi fi-sc-pencil"></i></button>
                                </a>
                                <a href="/admin/delete_brand/<%-row.brand_id%>" onclick="return confirm('Are you Sure...?')">
                                    <button class="btn btn-sm btn-danger"> <i class="fi fi-ss-trash"></i></button>
                                 </a>
                            </td>
                            <td><%-i+1%></td>
                            <td><%-row.brand_name%></td>
                            <td>
                                <img src="/uploads/<%-row.brand_image%>" alt="<%- row.brand_name %>" height="50%" width="50%">
                            </td>
                            <td><%-row.brand_details%></td>
                        </tr>
                   <% }) %>
                   
                </table>
            </div>
        </div>
    </div>
</div>

<%-include("footer.ejs")%>

